COMPOSE_PROJECT_NAME=oauth2-oidc

WEB_PORT=7011
PRODUCT_API_PORT=7012
TRANSACTION_API_PORT=7013
KEYCLOAK_PORT=7070
POSTGRES_PORT=5432

POSTGRES_HOST=localhost
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_SSLMODE=disable

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin123

# Dipakai juga oleh frontend Nuxt di apps/web.
PRODUCT_API_BASE_URL=http://localhost:7012
TRANSACTION_API_BASE_URL=http://localhost:7013
KEYCLOAK_BASE_URL=http://localhost:7070
KEYCLOAK_REALM=demo-realm
KEYCLOAK_CLIENT_ID=nuxt-app
KEYCLOAK_REDIRECT_URI=http://localhost:7011/auth/callback
KEYCLOAK_TEST_USERNAME=demo
KEYCLOAK_TEST_EMAIL=demo@example.com
KEYCLOAK_TEST_FIRST_NAME=Demo
KEYCLOAK_TEST_LAST_NAME=User
KEYCLOAK_TEST_PASSWORD=demo123
